{% assign meta = app.metafields.libautech_leons %}

{% assign s = shop.permanent_domain %}
{% assign anns = meta.announcementBars %}

{% capture should_render %}
{% render 'should-render', meta: meta, shop: s %}
{% endcapture %}
{% assign should_render = should_render | strip_html | strip %}
{% render 'prepareScript' %}


<div id="TSUFFIX-embed-target"></div>

{% if should_render == 'true' or should_render == true %}


<script>
  window.TSUFFIXEmbedInitReact = async function (data) {
    window.TSUFFIXContext = window.TSUFFIXContext || {};
    window.TSUFFIXContext['TSUFFIX-embed-target'] = {
      context: 'embed',
      data: {{ anns }}
    };
    
    const code = await window.TSUFFIX_loadCode();

    if (!code || !code.code) {
      console.error("Critical error: No code to execute");
  //send log
      return;
    }


    const binaryString = atob(code.code);
    const bytes = new Uint8Array(binaryString.length);

    for (let i = 0; i < binaryString.length; i++) { bytes[i]=binaryString.charCodeAt(i); } const ds=new
      DecompressionStream("gzip"); const stream=new Response(bytes).body.pipeThrough(ds); const reader=stream.getReader();
      let result="" ; function processChunks() {
        return reader.read().then(({ done, value })=> {
          if (done) {
            const script = result;
            eval(script);
            return;
          }

          result += new TextDecoder().decode(value);
          return processChunks();
      });
    }

    processChunks().catch((err) => console.error("Decompression error:", err));
  }
  window.TSUFFIXEmbedInitReact();
</script>
{% endif %}

{% schema %}
{
"name": "ann bar embed",
"target": "head",
"stylesheet": "index.css",
"settings": []
}
{% endschema %}