{% assign meta = app.metafields.libautech_leons %}

{% assign s = shop.permanent_domain %}

{% capture should_render %}
{% render 'should-render', meta: meta, shop: s %}
{% endcapture %}
{% assign should_render = should_render | strip_html | strip %}

{% render 'logUtils' %}
{% render 'prepareScript' %}

{% assign ann = meta.announcementBar %}

{% if ann.value.enabled == 'true' or ann.value.enabled == true %}
  
<div id="TSUFFIX-embed-target">
  <div 
    className="TSUFFIX-tw-scopeTSUFFIX-announcement-bar" 
    style="width: 100%;background-color: {{ block.settings.bar_backgroundcolor  }} ;color: {{ block.settings.bar_foregroundcolor  }};padding: 0.5em 1em;font-size: {{ block.settings.bar_fontsize  }}pt;line-height: 1em;display: flex;align-items: center;justify-content: center;    ">
    {{ ann.value.text }}
  </div>  
</div>

{% endif %}


{% if should_render == 'true' or should_render == true %}

{% render 'refreshCarts' %}
{% endif %}

{% schema %}
{
"name": "Announcement bar",
"target": "head",
"stylesheet": "index.css",
"settings": [
]
}
{% endschema %}