/* Overrides */
.Polaris-ResourceItem
  .Polaris-Columns
  > .Polaris-Columns
  .Polaris-Box
  > .Polaris-Stack.Polaris-Stack--noWrap
  h3 {
  max-width: 400px !important;
}
@media (max-width: 768px) {
  .Polaris-ResourceItem
    .Polaris-Columns
    > .Polaris-Columns
    .Polaris-Box
    > .Polaris-Stack.Polaris-Stack--noWrap
    h3 {
    max-width: 300px !important;
  }
}

.Polaris-Label {
  margin-top: 5px;
  margin-bottom: 2px;
}

.Polaris-Card + .Polaris-Card {
  margin-top: 0;
}

.videoContainer {
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.videoContainer iframe {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* Helper classes */
.Lo-Margin-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.Lo-No-Card-Padding .Polaris-Card__Section {
  padding: 0;
}
.Lo-Repeater-Simple {
  margin: 10px 0;
  border: 1px solid #e2e2e3;
  border-radius: 5px;
}

/* Preview Skeleton  */
.skeleton-container {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}
.skeleton-header {
  margin-bottom: 20px;
}
.skeleton-logo {
  height: 24px;
  width: 200px;
  background-color: #e0e0e0;
  border-radius: 4px;
}
.skeleton-main {
  display: flex;
  gap: 20px;
}
.skeleton-image-column,
.skeleton-content-column {
  flex: 1;
  width: 50%;
}
.skeleton-main-image {
  aspect-ratio: 1;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  border-radius: 8px;
}
.skeleton-thumbnail-container {
  display: flex;
  gap: 10px;
}
.skeleton-thumbnail {
  width: 60px;
  height: 60px;
  background-color: #e0e0e0;
  border-radius: 4px;
}
.skeleton-title {
  height: 32px;
  width: 70%;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  border-radius: 4px;
}
.skeleton-price {
  height: 24px;
  width: 40%;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  border-radius: 4px;
}
.skeleton-description {
  height: 18px;
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 4px;
}
.skeleton-button {
  height: 40px;
  width: 180px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
  border-radius: 4px;
}
.skeleton-divider {
  height: 1px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
}
.skeleton-additional-info {
  height: 18px;
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .skeleton-container {
    max-width: 100%;
    padding: 10px;
  }
  .skeleton-main {
    flex-direction: column;
  }
  .skeleton-image-column,
  .skeleton-content-column {
    width: 100%;
  }
  .skeleton-main-image {
    aspect-ratio: 16 / 9;
  }
  .skeleton-title,
  .skeleton-price,
  .skeleton-button {
    width: 100%;
  }
}

.sticky-container .Polaris-Layout__Section + .Polaris-Layout__Section {
  position: sticky;
  top: 44px;
}
@media (max-width: 1024px) {
  .sticky-container .Polaris-Layout__Section + .Polaris-Layout__Section {
    position: static;
  }
}
.form-tabs-container {
  display: flex;
  justify-content: flex-start;
}
.flex-container {
  display: flex;
  gap: 10px;
}

.flex-item {
  flex: 1;
}
